{% extends "students/base.html" %}

{% block title %}All Available Rooms{% endblock title %}

{% block custom-css %} 
    <link rel="stylesheet" href="/static/students/building/building.css">

    <!-- CSS for nice select menus for Floor -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">

    <!-- CSS for table -->
    <link rel="stylesheet" href="/static/students/footable/css/footable.bootstrap.min.css">
{% endblock custom-css %}

{% block content %}
<div class="container-fluid">
    <h1 id="page-title">
        All rooms
    </h1>
</div>

<div class="col-md-12">
<!-- filter by floor dropdown available if there are rooms left -->
{% if buildings|length > 1 %}
<select id="buildingFilter" class="selectpicker room-list-filter building-filter" multiple title="All Buildings">
    {% for bldg in buildings %}
        <option name="bldg{{ bldg.name|cut:' ' }}" value="bldg{{ bldg.name|cut:' ' }}">
            {{bldg.name}}
        </option>
    {% endfor %}
</select>
{% endif %}

<!-- filter by room type dropdown available, if there are more than 1 type of room -->
{% if room_types|length > 1 %}
<select id="roomTypeFilter" class="selectpicker room-list-filter room-type-filter" multiple title="All Room Types">
    {% for type in room_types %}
        {% if type == 'S' %}
            <option name="type{{type}}" value="type{{type}}">Single</option>
        {% elif type == 'D' %}
            <option name="type{{type}}" value="type{{type}}">Double</option>
        {% elif type == 'T' %}
            <option name="type{{type}}" value="type{{type}}">Triple</option>
        {% elif type == 'Q' %}
            <option name="type{{type}}" value="type{{type}}">Quad</option>
        {% endif %} 
{% endfor %}
</select>
{% endif %}

<!-- table of all open rooms -->
{% if rooms %}
<div class="row">
    <div class="col-md-12 table-parent">
        <div class="table-responsive">
            <table class="table footable table-hover" data-sorting="true" data-expand-first="true">
              <thead>
                <tr>
                  <th>Building</th>
                  <th>#</th>
                  <th>Type</th>
                  <th data-type="number" data-breakpoints="xs">Open Beds</th>
                  <th data-breakpoints="xs">Gender</th>
                  <th data-breakpoints="xs sm">Pulls</th>
                  <th data-breakpoints="xs sm md">Notes</th>
                </tr>
              </thead>
              <tbody class="room-list">

                {% for room in rooms %}
                    <tr name="{{room}}" class="floor{{room.floor}} type{{room.room_type}} bldg{{room.building.name|cut:' '}}">
                        <td>{{room.building.name}}</td>
                        <td>{{room.number}}</td>

                        <!-- Room Type -->
                        <td>
                            {% with type=room.room_type %}
                            {% if type == 'S' %}
                                Single
                            {% elif type == 'D' %}
                                Double
                            {% elif type == 'T' %}
                                Triple
                            {% elif type == 'Q' %}
                                Quad
                            {% elif type == 'B' %}
                                {% if room.building.name == "Morris" %}
                                  Apartment
                                {% else %}
                                  Suite
                                {% endif %}
                            {% endif %}
                            {% endwith %}
                        </td>

                        <td>
                            {{room.available_beds}}
                        </td>
                        
                        <td>
                            {% if rm.gender == 'F' %}
                                Female
                            {% elif rm.gender == 'M' %}
                                Male
                            {% else %}
                                Any
                            {% endif %}
                        </td>
                        
                        <td>
                            {% if rm.pull %}
                                {{rm.pull}}
                            {% else %}
                                None
                            {% endif %}
                        </td>
                    
                        <td>
                            {{rm.notes}}
                        </td>

                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </div><!--table of rooms--> 
        </div>
    </div>

  <!-- if there are no rooms -->
  {% else %}
    <h3>There are currently no available rooms</h3>
  {% endif %}

</div><!--/row-->
{% endblock content %}

{% block custom-js %}
    <!-- Bootstrap Select plugin for filtering by floor -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js" type="text/javascript"></script>

    <!-- Script for building specific js -->
    <script src="/static/students/building/building.js" type="text/javascript"></script>
    
    <!-- FooTable -->
    <script src="/static/students/footable/js/footable.min.js" type="text/javascript">
    </script>
{% endblock custom-js %}