<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/students/icon/favicon.ico" />

    <title>
        {% block title %}RoomService{% endblock title %}
    </title>

    <!-- Bootstrap core CSS -->
    <link href="/static/students/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">-->

    <!-- Custom styles for this template - sidebar, etc. -->
    <link href="/static/students/sidebar/sidebar-roomservice.css" rel="stylesheet">
    <link href="/static/students/header/header-roomservice.css" rel="stylesheet">
    <link href="/static/students/footer/footer.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amiko|Khula:300|Montserrat:400,700|Proza+Libre" rel="stylesheet">
      
    {% block custom-css %}
        <link href="/static/students/home/home-roomservice.css" rel="stylesheet">
    {% endblock custom-css %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body style = "padding-bottom: 50px">
      {% block header %}
            {% include "students/header.html" %}
      {% endblock header %}
      
    <div class="row-offcanvas row-offcanvas-left">
      {% block sidebar %}
            {% include "students/sidebar.html" %}
      {% endblock sidebar %}
        
        {% if pageContent %}
            {% if pageContent.navbar_announcement %}
                <div class="alert alert-danger navbar-announcement" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    {{ pageContent.navbar_announcement}}
                </div>  
            {% endif %}
        {% endif %}
      <div id="main">

          {% block content %} 
        

        <div class="col-md-12 container-fluid">
              <div class="jumbotron" id="home-jumbotron">
                <h1>
                {% if pageContent %}
                    {{pageContent.header_text}}
                {% else %}
                    Let the search begin!
                {% endif %}
                </h1>
              
                <p>
                {% if pageContent %}
                    {{ pageContent.header_subtext|linebreaksbr }}
                {% else %}
                    Select a building from the left sidebar to view room availability by building.
                {% endif %}
                </p>
                {% if pageContent %}
                    {% if pageContent.header_block_text %}
                        {{ pageContent.header_block_text|linebreaks }}
                    {% endif %}
                {% endif %}
                <p>
                   <a type="button" class="btn btn-default btn-lg home-button" href="{% url 'faq' %}">
                            FAQs
                    </a>
                        
                    <button type="button" class="btn btn-default btn-lg home-button search-button" data-toggle="offcanvas" data-target=".sidebar">
                            Search
                    </button>
                </p>
          </div>
        </div> <!-- End Container-->

          <div class="col-md-6">
              <div class="landing-panel panel landing-panel-button hidden-sm hidden-md hidden-lg">
                <div class="landing-panel-heading container-fluid" data-toggle="offcanvas" data-target=".sidebar" href="#" style="clear: both;">
                    <h3 class="landing-panel-title" style="float: left;">Start Your Search</h3>
                    <h3 class="landing-panel-title" style="float: right;"><span class="glyphicon glyphicon-chevron-right"></span></h3>
                  </div>
              </div>
              
              <a href="{% url 'faq' %}" class="nodecor hidden-sm hidden-md hidden-lg" id="faq-button">
                   <div class="landing-panel panel landing-panel-button nodecor">
                       <div class="landing-panel-heading container-fluid nodecor" style="clear: both;">
                           <h3 class="landing-panel-title" style="float: left;">FAQ</h3>
                           <h3 class="landing-panel-title" style="float: right;"><span class="glyphicon glyphicon-chevron-right"></span></h3>
                        </div>
                   </div>
              </a>
              
          </div>

          {% comment %}
          <div class="col-md-6 hidden-xs hidden-sm">
              <div class="landing-panel panel landing-panel-button hidden-sm hidden-md hidden-lg">
                <div class="landing-panel-heading container-fluid" data-toggle="offcanvas" data-target=".sidebar" href="#" style="clear: both;">
                    <h3 class="landing-panel-title" style="float: left;">Start Your Search</h3>
                    <h3 class="landing-panel-title" style="float: right;"><span class="glyphicon glyphicon-chevron-right"></span></h3>
                  </div>
              </div>

              <a href="{% url 'faq' %}" class="nodecor hidden-sm hidden-md hidden-lg" id="faq-button">
                   <div class="landing-panel panel landing-panel-button nodecor">
                       <div class="landing-panel-heading container-fluid nodecor" style="clear: both;">
                           <h3 class="landing-panel-title" style="float: left;">FAQ</h3>
                           <h3 class="landing-panel-title" style="float: right;"><span class="glyphicon glyphicon-chevron-right"></span></h3>
                        </div>
                   </div>
              </a>

               <a href="{% url 'faq' %}" class="nodecor hidden-xs" id="faq-button">
                   <div class="landing-panel panel landing-panel-button nodecor">
                       <div class="landing-panel-heading container-fluid nodecor" style="clear: both;">
                           <h3 class="landing-panel-title" style="float: left;">Frequently Asked Questions</h3>
                           <h3 class="landing-panel-title" style="float: right;"><span class="glyphicon glyphicon-chevron-right"></span></h3>
                        </div>
                   </div>
              </a>

          </div><!--/col-->

          <div class="col-md-6">
              <div class="landing-panel panel">
                <div class="landing-panel-heading container-fluid">
                    <h3 class="landing-panel-title" style="float: left;">Contact Us</h3>
                </div>
                <div class="panel-body">
                    {% if pageContent %}
                        {{ pageContent.contact|linebreaksbr }}
                    {% else %}
                        Questions pertaining to the lottery and the lottery process should be directed to Ashley Place, assistant director of Residential Life, at <a class="nodecor highlight-link" href="mailto:aplace@hamilton.edu">aplace@hamilton.edu</a>.
                    {% endif %}
                    Send comments or questions about this site to <a href="mailto:hcroomservice@gmail.com">HCRoomService@gmail.com</a>.
                </div>
              </div><!--/panel-->
          </div><!--/col-->
          {% endcomment %}
        {% endblock content %}
          {% block footer %}
                {% include "students/footer.html" %}
          {% endblock footer %}
        </div>
    </div><!--/row-offcanvas -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/students/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/../static/students/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/students/assets/js/ie10-viewport-bug-workaround.js"></script>
    <!-- Script for collapsable side navigation -->
    <script src="/static/students/sidebar/sidebar.js"></script>

      
    {% block custom-js %}
        <!-- Twitter Timeline
             ================================================== -->
        <script src="/static/students/assets/js/twitter-timeline.js"></script>
    {% endblock %}
    </body>
    
</html>
