{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{{current_building.name}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/students/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">-->

    <!-- Custom styles for this template -->
    <link href="/static/students/home/starter-template.css" rel="stylesheet">
    <link href="/static/students/building_dashboard/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!--<script src="../../assets/js/ie-emulation-modes-warning.js"></script>-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    {% include "students/header.html" %}

    <div class="row-offcanvas row-offcanvas-left">
      {% include "students/sidebar.html" %}
        
      <div id="main">
          <div class="col-md-12">
              <div class="centered-div">
                    <h1>{{current_building.name}}</h1>
              </div>
              <div class="row">
                  
                  <!-- Rooms Left -->
                  <div class="container col-md-6">
                      <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Rooms Left</h3>
                            </div>
                            <div class="panel-body">
                                <strong>{{building_stats.rooms_left}}</strong> / {{current_building.total_rooms}}
                            </div>
                      </div>
                  </div>
                  
                   <!-- Types of Rooms -->
                   <div class="container col-md-6">
                      <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Types of Rooms</h3>
                            </div>
                            <div class="panel-body">
                                {% if current_building.total_singles != 0 %}
                                    <strong>{{building_stats.singles}}</strong> / {{current_building.total_singles}} Singles<br>
                                {% endif %}
                                {% if current_building.total_doubles != 0 %}
                                    <strong>{{building_stats.doubles}}</strong> / {{current_building.total_doubles}} Doubles<br>
                                {% endif %}
                                {% if current_building.total_triples != 0 %}
                                    <strong>{{building_stats.triples}}</strong> / {{current_building.total_triples}} Triples<br>
                                {% endif %}
                                {% if current_building.total_quads != 0 %}
                                    <strong>{{building_stats.quads}}</strong> / {{current_building.total_quads}} Quads<br>
                                {% endif %}
                            </div>
                       </div>
                  </div>
                
              </div><!--/row-->
              <hr>
          </div><!--/col-md-12
          
      <!-- first half of page - room list -->
      <div class="col-md-6 col-xs-12">
          
        <!-- filter by floor dropdown available if there are rooms left -->
        {% if rooms %}
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Floor <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">All Floors</a></li>
                {% for floor in floors %}
                <li><a href="#">Floor {{floor}}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
          
        <!-- table of all open rooms -->
        {% if rooms %}
        <h2>Open Rooms</h2>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Room #</th>
                  <th>Room Type</th>
                  <th>Open Beds</th>
                  <th>Pulls</th>
                  <th>Notes</th>
                </tr>
              </thead>
              <tbody>
                {% for room in rooms %}
                <tr>
                  <td>{{room.number}}</td>
                  <td>
                  {% if room.total_beds == 1 %}
                    Single
                  {% elif room.total_beds == 2 %}
                    Double
                  {% elif room.total_beds == 3 %}
                    Triple
                  {% elif room.total_beds == 4 %}
                    Quad
                  {% else %}
                    N/A
                  {% endif %}
                  </td>
                  <td>{{room.available_beds}}</td>
                  <td>
                    {% if room.pull %}
                      {{room.pull}}
                    {% else %}
                      None
                    {% endif %}
                  </td>
                  <td>{{room.notes}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div><!--table of rooms-->   
          {% else %}
            <h3>There are currently no available rooms</h3>
          {% endif %}
      </div><!--/first half of screen-->
          
    <!-- horizontal line visible on smaller screens to divide floor plans and open room list -->
    <div class="hidden-lg hidden-md col-md-12"><hr></div>
        
    <!-- second half of screen (floor plans) -->
    <div class="col-md-6 col-xs-12">
        <!-- floor plan selector -->
        <div class="dropdown">
            {% if floor_images %}
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Floor Plan <span class="caret"></span></button>
            {% endif %}
            <ul class="dropdown-menu">
                {% for floorplan in floor_images %}
                    {% if floorplan == first_floorplan %}  
                        <li class="active"><a href="#">{{floorplan.display_name}}</a></li>
                    {% else %}
                        <li class="#"><a href="#">{{floorplan.display_name}}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        
        <h2>{{first_floorplan.display_name}}</h2>

        <!-- floor plan image -->
        {% if first_floorplan != None %}
            <img id="floor_plan" class="img-responsive floor-plan-img" id="zoom_01" src="{{first_floorplan.image.url}}" data-zoom-image="{{first_floorplan.image.url}}"/>
        {% endif %}
    </div><!--/floor plans-->
        
    </div><!--/row-offcanvas -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    
    <script>window.jQuery || document.write('<script src="/static/students/assets/js/vendor/jquery.min.js"><\/script>')</script>
        
    <script src="/../static/students/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/students/assets/js/ie10-viewport-bug-workaround.js"></script>
    <!-- Script for collapsable side navigation -->
    <script src="/static/students/home/home-sidebar.js"></script>
    <!-- Script for Zoom JQuery Plugin -->
    <script src="/static/students/assets/js/zoom/jquery.elevateZoom-3.0.8.min.js" type="text/javascript"></script>
    <script>
        $("#floor_plan").elevateZoom({
            zoomType: "inner",
            cursor: "crosshair"
        });
    </script>
  </body>
</html>