{% extends "students/base.html" %}

{% block title %}{{ current_building.name }}{% endblock title %}

{% block custom-css %}

    <!-- CSS for nice select menus for Floor -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">

    <!-- CSS for imageviewer -->
    <link href="/static/students/ImageViewer/imageviewer.css"
          rel="stylesheet">

    <!-- CSS for this page -->
    <link rel="stylesheet" href="/static/students/building/building-roomservice.css">

    <!-- CSS for table -->
    <link rel="stylesheet" href="/static/students/footable/css/footable.bootstrap.min.css">

{% endblock %}

{% block content %}
<!--    <div class="building-content">-->
      {% if floor_images %}
        <div class="col-md-12 col-lg-6 container-fluid left-content">
      {% else %}
        <div class="col-md-12">
      {% endif %}
        <a name="top"></a><!-- top anchor -->
        <h1 id="page-title">
            {{current_building.name}} <small style="vertical-align: middle">
                {% if current_building.closed_to == 'F' %}
                    <span class="label building-label">Closed to Women</span>
                {% elif current_building.closed_to == 'M' %}
                    <span class="label building-label">Closed to Men</span>
                {% endif %}
                </small>
        </h1>
        <div class="row building-stats">

            <!-- Types of Rooms -->
            <div class="col-md-12">
                <div class="panel panel-default" id="RoomTypePanel">
                    <div class="stat-panel-heading">
                        <h3 class="panel-title">Types of Rooms Available</h3>
                    </div>
                    <div class="panel-body">
                        {% if current_building.total_singles != 0 %}
                            <strong>{{current_building.available_singles}}</strong>
                            {% if current_building.available_singles == 1 %}
                                Single
                            {% else %}
                                Singles
                            {% endif %}
                            <br>
                        {% endif %}
                        {% if current_building.total_doubles != 0 %}
                            <strong>{{current_building.available_doubles}}</strong>
                            {% if current_building.available_doubles == 1 %}
                                Double
                            {% else %}
                                Doubles
                            {% endif %}
                            <br>
                        {% endif %}
                        {% if current_building.total_triples != 0 %}
                            <strong>{{current_building.available_triples}}</strong>
                            {% if current_building.available_triples == 1 %}
                                Triple
                            {% else %}
                                Triples
                            {% endif %}
                            <br>
                        {% endif %}
                        {% if current_building.total_quads != 0 %}
                            <strong>{{current_building.available_quads}}</strong>
                            {% if current_building.available_quads == 1 %}
                                Quad
                            {% else %}
                                Quads
                            {% endif %}
                            <br>
                        {% endif %}

                    </div><!--/panel-body-->
               </div><!--/panel-->
            </div><!--col-md-6-->

            <!-- Building Notes -->
            {% if current_building.notes %}
             <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="stat-panel-heading">
                        <h3 class="panel-title">Notes</h3>
                    </div>
                    <div class="panel-body">
                        {{current_building.notes}}
                    </div>
                </div>
             </div>
            {% endif %}

            {% if floor_images %}
            <!-- Link to floor plan images if small screen -->
            <div class="col-md-6 hidden-lg">
               <a href="#floorPlans" class="nodecor" id="floorPlanViewButton">
                   <div class='sticky-anchor'></div>
                   <div class="panel panel-green panel-default nodecor sticky">

                       <div class="stat-panel-heading-green nodecor" style="clear: both;">
                           <h3 class="panel-title-green nodecor floorplan-button" id="floorplan-photo-icon">
                                <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                           </h3>
                           <h3 class="panel-title-green nodecor floorplan-button" id="floorplan-text">
                           View Floor Plans
                           </h3>
                        </div>
                   </div>
                </a>
             </div>
            {% endif %}

          </div><!--/row-->

      <!-- End of Header Panels -->

      <!-- first half of page - room list -->

      <div class="col-md-12 col-xs-12">


        <!-- tabs for if there are rooms and apartments -->
        {% if rooms and apts %}
        <ul class="nav nav-tabs">
            <li class="active building-tabs"><a href="#rooms-pane" data-toggle="tab">Rooms</a></li>
            {% for apt in apts %}
                <li class="building-tabs">
                    <a href="#apt{{apt}}-pane" data-toggle="tab">Apt {{apt}}</a>
                </li>
            {% endfor %}
        </ul>
        <div class="tab-content">

        {% elif apts %}
          <ul class="nav nav-tabs">
              {% for apt in apts %}
                  {% if forloop.first %}
                      <li class="active building-tabs">
                          <a href="#apt{{apt}}-pane" data-toggle="tab">
                              Apt {{apt}}
                          </a>
                      </li>
                  {% else %}
                      <li class="building-tabs">
                          <a href="#apt{{apt}}-pane" data-toggle="tab">
                              Apt {{apt}}
                          </a>
                      </li>
                  {% endif %}
              {% endfor %}

          </ul>
          <div class="tab-content clearfix">
        {% endif %}


        {% if rooms %}
            <!-- start tab pane if there are tabs -->
            {% if apts %}
                <div id="rooms-pane" class="tab-pane fade in active">
            {% endif %}

            <div class="row filter-row">
                <div class="col-lg-12">
                    <!-- filter by floor dropdown available if there are rooms left -->
                    {% if floors|length > 1 %}
                    <select id="floorFilter" class="selectpicker room-filter">
                        <option name="all" value="all">All Floors</option>
                        {% for floor in floors %}
                            <option name="floor{{floor}}" value="floor{{floor}}">Floor {{floor}}</option>
                        {% endfor %}
                    </select>
                    {% endif %}

                <!-- filter by room type dropdown available, if there are more than 1 type of room -->
                {% if room_types|length > 1 %}
                <select id="roomTypeFilter" class="selectpicker room-filter">
                    <option name="all" value="all">All Room Types</option>
                    {% for type in room_types %}
                        <option name="type{{type}}" value="type{{type}}">
                            {% if type == 'S' %}
                                Single
                            {% elif type == 'D' %}
                                Double
                            {% elif type == 'T' %}
                                Triple
                            {% elif type == 'Q' %}
                                Quad
                            {% elif type == 'B' %}
                                Block
                            {% endif %}
                        </option>
                    {% endfor %}
                </select>
                {% endif %}
                </div>
            </div>

            <table class="table footable table-striped" data-expand-first="true" id="roomlist">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Type</th>
                        <th data-type="number">Open Beds</th>
                        <th data-breakpoints="xs sm md lg">Gender</th>
                        <th data-breakpoints="xs">Pulls</th>
                        <th data-breakpoints="xs sm md lg">Notes</th>
                    </tr>
                </thead>
                <tbody class="room-list">
                    {% for room in rooms %}
                    <tr name="{{room}}" class="floor{{room.floor}} type{{room.room_type}}">
                        <td>{{room.number}}</td>

                        <!-- Room Type -->
                        <td>
                        {% with type=room.room_type %}
                        {% if type == 'S' %}
                            Single
                        {% elif type == 'D' %}
                            Double
                        {% elif type == 'T' %}
                            Triple
                        {% elif type == 'Q' %}
                            Quad
                        {% elif type == 'B' %}
                            {% if room.building.name == "Morris" %}
                              Apartment
                            {% else %}
                              Suite
                            {% endif %}
                        {% endif %}
                        {% endwith %}
                        </td>

                        <td>{{room.available_beds}}</td>

                        <td>
                            {% if room.gender == 'F' %}
                                Female
                            {% elif room.gender == 'M' %}
                                Male
                            {% else %}
                                Any
                            {% endif %}
                        </td>

                        <td>
                            {% if room.pull %}
                                {{room.pull}}
                            {% else %}
                                None
                            {% endif %}
                        </td>

                        <td>
                            {% if room.notes %}
                                {{room.notes}}
                            {% else %}
                                --
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- end tab pane if there are tabs -->
            {% if apts %}
                </div>
            {% endif %}
        {% endif %}

        {% if apts %}
          {% for apt, rooms in apts.items %}
            {% if forloop.first %}
                {% if not rooms.empty %}
                    <div id="apt{{apt}}-pane" class="tab-pane fade in active">
                {% endif %}
            {% else %}
                <div id="apt{{apt}}-pane" class="tab-pane fade">
            {% endif %}

                {% with room1=rooms|first %}
                <h3>Apartment {{apt}}</h3>
                <p class="lead">
                    {{room1.apartment.available_beds}} total available beds |
                    {% if room1.apartment.gender == 'F' %}
                        Female
                    {% elif room1.apartment.gender == 'M' %}
                        Male
                    {% else %}
                        Any gender
                    {% endif %}
                    {% if notes %}
                        <br>{{room1.apartment.notes}}
                    {% endif %}
                </p>
                {% endwith %}

                 <table class="table footable table-striped" data-expand-first="true">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Type</th>
                            <th data-type="number">Open Beds</th>
                            <th data-breakpoints="xs sm md lg">Gender</th>
                            <th data-breakpoints="xs">Pulls</th>
                            <th data-breakpoints="xs sm md lg">Notes</th>
                        </tr>
                    </thead>
                    <tbody class="room-list">
                        {% for room in rooms %}
                            <tr name="{{room}}" class="floor{{room.floor}} type{{room.room_type}}">
                                <td>{{room.number}}</td>

                                <!-- Room Type -->
                                <td>
                                {% with type=room.room_type %}
                                {% if type == 'S' %}
                                    Single
                                {% elif type == 'D' %}
                                    Double
                                {% elif type == 'T' %}
                                    Triple
                                {% elif type == 'Q' %}
                                    Quad
                                {% elif type == 'B' %}
                                    {% if room.building.name == "Morris" %}
                                      Apartment
                                    {% else %}
                                      Suite
                                    {% endif %}
                                {% endif %}
                                {% endwith %}
                                </td>

                                <td>{{room.available_beds}}</td>

                                <td>
                                    {% if room.gender == 'F' %}
                                        Female
                                    {% elif room.gender == 'M' %}
                                        Male
                                    {% else %}
                                        Any
                                    {% endif %}
                                </td>
                                <td>
                                    {% if room.pull %}
                                        {{room.pull}}
                                    {% else %}
                                        None
                                    {% endif %}
                                </td>
                                <td>
                                    {% if room.notes %}
                                        {{room.notes}}
                                    {% else %}
                                        --
                                    {% endif %}
                                </td>
                              </tr>
                          {% endfor %}
                      </tbody>
                  </table>
                </div><!-- end tab pane -->
              {% endfor %}
           </div><!-- end tab content -->
        {% endif %}

        {% if not apts and not rooms %}
          <h3>There are currently no available rooms</h3>
        {% endif %}
        <!-- link to top -->
        <div class="container-fluid">
            <div class="row">
                <!-- <div class="col-md-6 hidden-md-up" id="BottomContent"> -->
                {% if rooms or apts %}
                   <a href="#top" class="nodecor" id="floorPlanViewButton">
                       <div class="panel panel-green panel-default nodecor">
                           <div class="stat-panel-heading-green nodecor" style="clear: both;">
                               <h3 class="panel-title-green nodecor floorplan-button" id="floorplan-photo-icon">
                                    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                               </h3>

                               <h3 class="panel-title-green nodecor floorplan-button" id="floorplan-text">
                                    Back to Top
                               </h3>
                            </div>
                       </div>
                    </a>
                {% endif %}
                 <!-- </div> -->
                  <!-- End Bottom Content -->
            </div>
        </div>
        </div><!--/container-fluid-->
      </div><!--/first half of screen-->

<!-- FLOOR PLANS!! -->
    {% if floor_images %}
    <div class="col-xs-12 col-md-12 col-lg-6 right-content">

    {% with first_image=floor_images|first %}
    <div class="floorplans container-fluid">
        <a name="floorPlans"></a>
        <h1 id="floor-name" class="floorplan-title">
          {{first_image.display_name}}
        </h1>


        <img src="{{first_image.image.url}}"
             class="pannable-image img-responsive floor-plan-img">

    {% endwith %}

    <div class="row thumbnail-row">

        {% for floorplan in floor_images %}
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 thumb-div">
            <div id="thumbnail-gallery">
                {% if forloop.first %}
                <a class="active thumbnail" data-image="{{floorplan.image.url}}" data-zoom-image="{{floorplan.image.url}}">
                {% else %}
                <a class="thumbnail" data-image="{{floorplan.image.url}}" data-zoom-image="{{floorplan.image.url}}">
                {% endif %}
                    <img src="{{floorplan.image.url}}" class="floorplan-thumbnail img-responsive" alt="{{floorplan.thumbnail_name}}" id="thumb{{forloop.counter0}}"/>
                    <div class="thumbnail-label" title="{{floorplan.display_name}}" >
                        {{floorplan.thumbnail_name}}
                    </div>
                </a>
            </div>
          </div>
        {% endfor %}
    </div>
    </div>
<!--   </div> end building content -->
  {% endif %}

{% endblock content %}

{% block custom-js %}
    <!-- Bootstrap Select plugin for filtering by floor -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>

    <!-- Script for floor plan thumbnail click function -->
    <script src="/static/students/building/thumbnail.js" type="text/javascript"></script>

    <!-- Script for ImageViewer -->
    <script src="/static/students/ImageViewer/imageviewer.min.js"></script>
    <script src="/static/students/ImageViewer/floorplanviewer.js"></script>

    <!-- Script for filtering building sidebar -->
    <script src="/static/students/sidebar/sidebar-filter.js" type="text/javascript"></script>

    <!-- Script for building specific js -->
    <script src="/static/students/building/building.js" type="text/javascript"></script>

    <!-- FooTable -->
    <script src="/static/students/footable/js/footable.min.js" type="text/javascript"></script>

{% endblock custom-js %}
