{% extends "students/base.html" %}
{% block title %}Contact Us{% endblock title %}

{% block content %}
    {% comment %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Contact Us</h1>
                
                {% if submitted %}
                    <h3>Your request was succesfully submitted.</h3>
                {% else %}
                    <form role="form" action="" method="post" class="post-form form-group">
                        {% csrf_token %}

                        {% for field in contact_form %}
                            <div class="form-group" style="padding-bottom: 20px;">
                                <label for="FormInput" class="control-label">{{field.label}} </label>

                                <div class="text-align: top;">
                                    {{field}}
                                </div>
                            </div>
                        {% endfor %}

                        <button type="submit" class="btn btn-primary btn-default">
                            Submit
                        </button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
    {% endcomment %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 container-fluid">
            <h1>Contact Us</h1>
            <hr class="yellow-line">
            <p class="lead">
                {% if pageContent %}
                    {{ pageContent.contact|linebreaksbr }}
                    {% if pageContent.contact_email %}
                        Reach out to <strong><a class="nodecor highlight-link" href="mailto:{{pageContent.contact_email}}">{{pageContent.contact_email}}</a></strong>.
                    {% endif %}
                {% else %}
                Questions pertaining to the lottery and the lottery process should be directed to Ashley Place, assistant director of Residential Life
                {% endif %}
                Send comments or questions about this site to <strong><a href="mailto:hcroomservice@gmail.com">HCRoomService@gmail.com</a></strong>.
            </p>
        </div>
    </div>
</div>

{% endblock content %}
