{% extends "students/base.html" %}
{% block title %}FAQ{% endblock title %}
    
{% block custom-css %}
    <link rel="stylesheet" href="/static/students/faq/faq-roomservice.css">
{% endblock custom-css %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>FAQ</h1>
            <hr class="yellow-line">
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="panel-group" id="faqAccordion">
        {% for faq in faqs %}
            <div class="panel panel-default">
                <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question{{forloop.counter0}}">
                     <h4 class="panel-title">
                        <a href="#" class="ing">{{faq.question | linebreaksbr }}</a>
                    </h4>
                </div>
                <div id="question{{forloop.counter0}}" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <p>{{faq.answer | linebreaksbr}}</p>
                        {% if faq.link %}
                            {% if faq.link_title %}
                                <h4>
                                    <span class="label faq-link">
                                        <a href="{{faq.link}}">
                                            {{faq.link_title}}
                                        </a>
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </span>
                                    
                                </h4>
                            {% else %}
                                <h4>
                                    <span class="label faq-link">
                                        <a href="{{faq.link}}">
                                            {{faq.link}}
                                        </a>
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </span>
                                </h4>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="panel panel-default">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#questionlast">
                 <h4 class="panel-title">
                    <a href="#" class="ing">I still have questions!</a>
                 </h4>
            </div>
            <div id="questionlast" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <p>For support, shoot us an email at <a class="nodecor highlight-link" href="mailto:hcroomservice@gmail.com">hcroomservice@gmail.com</a>. For lottery questions, contact Ashley Place, assistant director of the office of residential life, at <a class="nodecor highlight-link" href="mailto:aplace@hamilton.edu">aplace@hamilton.edu</a></p>
                </div>
            </div>
        </div>

    </div>
<!--/panel-group-->
</div>
{% endblock content %}
