<div id="sidebar" class="sidebar-offcanvas">
    <div class="container-fluid">
        <ul class="nav nav-pills nav-stack">
            <li class="sidebar-nav-item all-rooms">
                <a href="{% url 'all-rooms' %}" class="sidebar-link all-rooms-link">
                    <strong>View all rooms</strong><span class="glyphicon glyphicon-chevron-right" style="float: right;"></span>
                </a>
            </li>
        </ul>
        {% comment %}
        <div class="form-group">
            <input type="text" class="form-control sidebar-search" placeholder="Search Buildings" onkeyup="buildingFilter(this)" />
        </div>
        {% endcomment %}
        <ul class="nav nav-pills nav-stacked" id="building-sidebar">
            
            {% for building in buildings %}
                {% if building.name == current_building.name %}
                   <li class="active sidebar-nav-item">
                       <a href="{% url 'building-view' building.name %}" class="sidebar-link">
                        {{building}}
                       </a>
                    </li>
                {% else %}
                    <li class="sidebar-nav-item">
                        <a href="{% url 'building-view' building.name %}" class="sidebar-link">
                            {{building}}
                        </a>
                    </li>
                {% endif %}
             {% endfor %}
        </ul>
    </div>
</div>