<div id="sidebar" class="sidebar-offcanvas">
    <div class="col-md-12">
        <div class="form-group">
            <input type="text" class="form-control sidebar-search" placeholder="Search Buildings" onkeyup="buildingFilter(this)" />
        </div>
        <ul class="nav nav-pills nav-stacked" id="building-sidebar">
            {% for building in buildings %}
                {% if building.available_rooms > 0 %}
                    {% if building.name == current_building.name %}
                       <li class="active sidebar-nav-item">
                           <a href="{% url 'building-view' building.name %}" class="sidebar-link">
                            {{building}}
                           </a>
                        </li>
                    {% else %}
                        <li class="sidebar-nav-item">
                            <a href="{% url 'building-view' building.name %}" class="sidebar-link">
                                {{building}}
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
             {% endfor %}
        </ul>
    </div>
</div>