.floorplans {
    position: absolute;
    top: 5.5em;
    background-color: dimgray;
    border: solid medium black;
}

.thumbnails {
  margin-left: -8px;

}

@media (max-width: 992px){
    .floorplans {
      display: none;
      }
}
