
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Staff Homepage</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/staff/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">-->

    <!-- Custom styles for this template -->
    <link href="/static/staff/home/starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!--<script src="../../assets/js/ie-emulation-modes-warning.js"></script>-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    {% include "staff/header.html" %}    
<div class="container">
    <div class="starter-template">
        <h1>Staff Admin Select Options</h1>
	   <p class="lead">Choose one of the options below</p>
    </div>
    <hr class="">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading text-center">
                    <a href= "/staff/select/room">
                        <h3 class="">Select Room</h3>
                    </a>
                </div>
                <div class="panel-body">Description goes here</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading text-center">
                    <a href = "/staff/select/suite">
                        <h3 class="">Select Suite</h3>
                    </a>
                </div>
                <div class="panel-body">Description goes here</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <br class="">
            <br class="">
            <br class="">
            <br class="">
        </div>
    </div>

    </div><!-- /.container -->

