/*
.navbar-fixed-bottom{
    height: 100%;
    vertical-align: middle;
    font-family: 'Khula', sans-serif;
}
*/

.navbar-fixed-bottom {
    border-top: 1px solid #cdcdcd;
    display: block;
    background-color: white;
}

.footer-text {
    margin-top: 15px;
    font-family: 'Khula', sans-serif;
}

@media screen and (max-width: 370px) {
    .hidden-xxs {
        display: none;
    }
}

.navbar-fixed-bottom a {
    color: #002f86;
}

.navbar-fixed-bottom a:hover,
.navbar-fixed-bottom a.active {
    color: #d1d1d1;
    text-decoration: none;
}
