<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Staff</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% url 'room-select' as select_room_url %}
            {% url 'loto-num' as loto_num_url %}
            {% url 'review-room' as review_room_url %}
            <li><a href="{{select_room_url}}">Room Selection</a></li>
            <li><a href="{{loto_num_url}}">Number Input</a></li>
            <li><a href="{{review_room_url}}">Review a Room</a
            ></li>
          </ul>
    	  <ul class="nav navbar-nav navbar-right">
              <li>
                  <a>
                    {% if LotteryNumber %}
                        Next Up: {{ LotteryNumber }}
                    {% endif %} 
                  </a>
              </li>
	      </ul>
    	</div><!--/.nav-collapse -->
    </div>
</nav>
