<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Staff Homepage</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/staff/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">-->

    <!-- Custom styles for this template -->
    <link href="/static/staff/home/starter-template.css" rel="stylesheet">
    <link href="/static/staff/home/header.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!--<script src="../../assets/js/ie-emulation-modes-warning.js"></script>-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    {% include "staff/header.html" %}

    <div class="container-fluid">
      <div class="starter-template">
          <h1>
              {% if pageContent %}
                    {{pageContent.header_text}}
              {% else %}
              Welcome to the housing lottery, <strong>{{user.username}}</strong>
              {% endif %}
          </h1>
          <p class="lead">
              {% if pageContent %}
                    {{ pageContent.header_subtext|linebreaksbr }}
              {% else %}
                    Select a room to place a student into, edit a building's information, or input the next lottery number by selecting an option.
              {% endif %}
          </p>
          <hr class="yellow-line">
          
           <div class="row">
              <div class="col-md-6">
                  <a href="{% url 'edit' %}" class="nodecor">
                    <div class="landing-panel panel">
                        <div class="landing-panel-heading">
                            <h3 class="landing-panel-title">Editing</h3>
                        </div>
                        <div class="panel-body">
                            {% if pageContent %}
                                {{ pageContent.edit_text|linebreaksbr }} 
                            {% else %}
                                Edit a record for a previous placement or change details about a building or room.<br><br>
                                For example, make McIntosh closed to women, add notes to a room, or change where a student was placed.
                            {% endif %}
                        </div>
                    </div>
                  </a>
              </div>
              <div class="col-md-6">
                  <a href="{% url 'select' %}" class="nodecor">
                    <div class="landing-panel panel">
                        <div class="landing-panel-heading">
                            <h3 class="landing-panel-title">Selection</h3>
                        </div>
                        <div class="panel-body">
                            {% if pageContent %}
                                {{ pageContent.select_text|linebreaksbr }} 
                            {% else %}
                                Place students in a room, apartment, or suite.<br><br> 
                                For example, place Block 10 in Babbitt 30, place a student in a single in Minor, or place students in a Griffin Road Apartment.
                            {% endif %}
                        </div>
                    </div>
                  </a>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <a href="{% url 'loto-num' %}" class="nodecor">
                    <div class="landing-panel panel">
                        <div class="landing-panel-heading">
                            <h3 class="landing-panel-title">Number Input</h3>
                        </div>
                        <div class="panel-body">
                            {% if pageContent %}
                                {{ pageContent.loto_num_text|linebreaksbr }} 
                            {% else %}
                                Input the next lottery number that will be called.<br><br> 
                                For example, after lottery number 255 is checked in, input lottery number 256.
                            {% endif %}
                        </div>
                    </div>
                  </a>
              </div>
              <div class="col-md-6">
                  <div class="landing-panel landing-panel-yellow panel">
                      <div class="landing-panel-heading landing-panel-heading-yellow">
                        <h3 class="landing-panel-title">Any issues?</h3>
                      </div>
                      <div class="panel-body">
                          For questions or comments about the use of this website, please fill out our <a href="{% url 'contact' %}">contact form</a>.
                          {% if pageContent %}
                            {{ pageContent.contact|linebreaksbr }}
                          {% else %}
                            <br><br>Questions pertaining to the lottery, the lottery process, or any pressing issues should be directed to Ashley Place, assistant director of Residential Life, at <a href="mailto:aplace@hamilton.edu">aplace@hamilton.edu</a>.
                          {% endif %}
                          
                      </div>
                  </div>
              </div>
          </div>
            

    </div><!-- /.container-fluid -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/staff/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/../static/staff/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/staff/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
