#home-jumbotron {
    padding-bottom: 10px;
    padding-top: 10px;
}

.landing-panel-title {
    border-radius: 0;
    border: none;
    margin: 0px;
}

.landing-panel {
    border-radius: 0;
    color: white;
    border: none;
    background-color: #93c178;
    margin-bottom: 30px;
}

.landing-panel-heading {
    background-color: #93c178;
    border-radius: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.landing-panel > panel-body > a {
    color: lightgray;
}

.yellow-line {
    border-color: #fbed46;
    margin-bottom: 30px;
}

.landing-panel-toggle > .landing-panel-heading:hover > h3 > span {
    color: #465c8b;
    
    /* apparently different browsers use different names */
    cursor: pointer; 
    cursor: hand;
}

.h4-panel {
    margin-top: 0px;
}
