body {
  padding-top: 50px;
}

#main {
    padding-bottom: 40px;
}

.starter-template {
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.landing-panel-title {
    /*text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 300;
    letter-spacing: 1.2px;
    line-height: 1.7;
    font-size: 1.5rem;*/
    border-radius: 0;
    border: none;
    margin: 0px;
}

.landing-panel {
    border-radius: 0;
    color: black;
    border: none;
    background-color: lightgray;
}

.landing-panel-yellow {
    background-color: #fbbd19;
}

.landing-panel-heading {
    background-color: lightgray;
    border-radius: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.landing-panel-heading-yellow {
    background-color: #fbbd19;
}

.landing-panel-yellow > .panel-body > a {
    color: dimgray;
}

.nodecor:hover,
.nodecor:active,
.nodecor:focus {
    text-decoration: none;
}

a > .panel:hover,
a > .panel:active,
a > .panel:focus {
    color: darkgray;
}

.yellow-line {
    border-color: #fbbd19;
    margin-bottom: 30px;
}